.drop-down {
  background-color: #333;
  padding: 15px;
  width: 100%;
  color: #fff;
  font-size: 20px;
  gap: 10px;
  border-radius: 10px;
  overflow: auto;
  margin-bottom: 50px;
}
.drop-down p {
  font-style: italic;
  font-weight: light;
}
.drop-down h3{
  font-weight: 500;
}
.dropdown-line{
  margin-bottom: 0.1vw;
  width: 100%;
  height: calc(0.1vw + 1px);
  background-color: #000;
  opacity: 0.3;
}

.close-btn-container {
  display: flex;
  align-items: start;
  justify-content: flex-end;
  width: 100%;
  height:fit-content;
  cursor: default;
  border-radius: 10px;
}

.filter-type{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.2vw;
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0px;
}

.genre-tab,
.rating-tab {
  display: flex;
  align-items: center;
  flex: 0 0 calc(12.5% - 10px);
  padding: 0.5vw 0.5vw;
  text-align: center;
  justify-content: space-evenly;
  background-color: transparent;
  border: calc(0.2vw) solid #aeaeae;
  border-radius: 0.7vw;
  cursor: pointer;
  color: #d3d3d3;
}

.genre-tab.selected,
.rating-tab.selected {
  color: #03abe0;
  border-color: #03abe0;
}
.genre-tab.faded,
.rating-tab.faded {
  opacity: 0.5;
  cursor: not-allowed;
}


.ratingScore-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0 20px 0;
}

.apply-filter-btn {
  background-color: #03abe0;
  color: white;
  cursor: pointer;
  font-weight: medium;
  border-radius: 5px;
  text-align: center;
}
